<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&display=swap" rel="stylesheet"> 
	<title>Document</title>
</head>
<body>
	<div id="root"></div>
	<script src="https://api-maps.yandex.ru/2.1/?apikey=1b71717f-f1d4-48b3-8d45-e635b8d38ab8&lang=ru_RU&load=package.full"
        type="text/javascript"></script>
    <script type="text/javascript" src="/public/js/scripts.js"></script>
</body>
</html>